@model IEnumerable<WebApplication3.Subtask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgressPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgressPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubtaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubtaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubtaskId })
        </td>
    </tr>
}

</table>
