@model IEnumerable<WebApplication3.DeveloperLoginInfo>

<p>
   <h2> Current Ratings of Developers</h2>
</p>
<br>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratings)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratings)
        </td>
        
    </tr>
}

</table>
